# 1. Load the TLS driver module
module(load="gtls")

# 2. Set the default driver globally
global(
  DefaultNetstreamDriver="gtls"
  DefaultNetstreamDriverCAFile="/etc/ssl/rsyslog/rsyslog.crt"

)

# 3. Define the Forwarding Action
action(
  type="omfwd"
  target="{{ rsyslog_server_ip }}"
  port="6514"
  protocol="tcp"
  StreamDriver="gtls"
  StreamDriverMode="1"
  StreamDriverAuthMode="x509/name"
  StreamDriverPermittedPeers="{{ rsyslog_server_fqdn }}"
)
